<%- include('layout') %>
<div class="container">
    <h2 class="text-center my-4">ููุญุฉ ุงูุฅุฏุงุฑุฉ</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-text">๐๏ทฒ๏ทฝ </h5>
                    <h5 class="card-title">ูุฑุญุจูุง ุจู ูู ููุญุฉ ุงูุฅุฏุงุฑุฉ ููุงุฑูุช ู ุฃูุจุงู ุฃุจูุนูู </h5>
                    <p class="card-text">ุงูููุงู ุนูู ูุฎุงูู ูุง ุฅุฎูุงุชู ูุจุฅุฐู ุงููู ูุชุญุฉ ุฎูุฑ ุนูููุง .</p>
                    <a href="/admin/update-store" class="btn btn-primary m-2">ุชุญุฏูุซ ุงููุชุฌุฑ</a>
                    <a href="/admin/orders" class="btn btn-primary m-2">ูุชุงุจุนุฉ ุงูุทูุจุงุช</a>
                    <a href="/admin/sales" class="btn btn-primary m-2">ุฅุญุตุงุฆูุงุช ุงููุจูุนุงุช</a>
                    <a href="/logout" class="btn btn-danger m-2">ุชุณุฌูู ุงูุฎุฑูุฌ</a>
                </div>
            </div>
        </div>
    </div>
</div>
